# The Tezos Signer service (part of systemd)
# file: /etc/systemd/system/tezos-signer.service

[Unit]
Description     = Tezos Signer Service
Documentation     = http://tezos.gitlab.io/betanet/
Wants           = network-online.target
After           = network-online.target

[Service]
User            = tezos
Group           = tezos
WorkingDirectory= /home/tezos/
ExecStart       = /home/tezos/tezos/tezos-signer launch socket signer -a 127.0.0.1 -p 8443
Restart         = on-failure

[Install]
WantedBy        = multi-user.target
