# NOTE: we do not typically build k8s spec fies directly from terraform
# We use kustomization as an intermediate step (to prevent crazy things)
# But in this case it was too challenging to construct a patch.
# I think we were hitting issues with an older version of kustomization
# embedded in kubectl 1.18
# nochem 20200809

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: prometheus-xtz
    release: mon-xtz
  name: tezos-remote-signer-monitoring-${signername}
spec:
  selector:
    matchLabels:
      app: tezos-remote-signer-forwarder-${custname}
  endpoints:
  - interval: 15s
    port: ${signername}
    path: /healthz
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: tezos-remote-signer-forwarder-policy-${signername}
spec:
  podSelector:
    matchLabels:
      app: tezos-remote-signer-forwarder
  policyTypes:
  - Ingress
  ingress:
  - ports:
    - port: ${signerport}
      protocol: TCP
    - port: ${tunnel_endpoint_port}
      protocol: TCP
