apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${kubernetes_namespace}

namePrefix: ${kubernetes_name_prefix}-

bases:
- ./tezos-public-node
%{ for baking_node in keys(baking_nodes) }
- ./tezos-private-node-${baking_node}
%{ endfor }
%{ for customer in keys(merge(values(baking_nodes)...)) }
- ./tezos-remote-signer-loadbalancer-${customer}
%{ endfor }
