apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${kubernetes_namespace}

namePrefix: ${kubernetes_name_prefix}-

bases:
- ./tezos-public-node
%{ for baking_node in keys(baking_nodes) }
- ./tezos-private-node-${baking_node}
%{ endfor }
%{ for customer, customer_data in merge(values(baking_nodes)...) }
%{ if ! contains(keys(customer_data), "insecure_private_baking_key") }
- ./tezos-remote-signer-loadbalancer-${customer}
%{ endif }
%{ endfor }
- ./tezos-remote-signer-forwarder
