apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${kubernetes_namespace}

namePrefix: ${kubernetes_name_prefix}-

bases:
- ./tezos-public-node
%{ for nodename in keys(baking_nodes) }
- ./tezos-private-node-${nodename}
%{ for custname, customer_data in baking_nodes[nodename] }
%{ if ! contains(keys(customer_data), "insecure_private_baking_key") }
- ./tezos-remote-signer-loadbalancer-${custname}
- ./tezos-remote-signer-alertmanager-${custname}
%{ for signerindex, signer_data in customer_data["authorized_signers"] }
- ./tezos-remote-signer-loadbalancer-${custname}-${signerindex}
%{ endfor }
%{ endif }
%{ endfor }
%{ endfor }
