bases:
- ./../tezos-public-node-base

namePrefix: ${kubernetes_name_prefix}-

namespace: ${kubernetes_namespace}

imageTags:
  - name: tezos-public-node-with-probes
    newName: gcr.io/${project}/tezos-public-node-with-probes
    newTag: ${kubernetes_namespace}-latest
  - name: tezos/tezos
    newTag: ${tezos_private_version}
  - name: tezos-snapshot-downloader
    newName: gcr.io/${project}/tezos-snapshot-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-public-node-configurator
    newName: gcr.io/${project}/tezos-public-node-configurator
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-archive-downloader
    newName: gcr.io/${project}/tezos-archive-downloader
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: tezos-configmap
  literals:
  - NODE_HOST="127.0.0.1"
  - TEZOS_NETWORK=${tezos_network}"
  - PRIVATE_PEER_LIST="%{ for nodename in keys(baking_nodes) ~}--peer ${kubernetes_name_prefix}-tezos-private-baking-node-${nodename} %{endfor}"
  - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
  - DATA_DIR=/run/tezos
  - SNAPSHOT_URL="${snapshot_url}"
  - HISTORY_MODE="${history_mode == "rolling" ? "experimental-rolling" : history_mode}"
patchesStrategicMerge:
- regionalpvpatch.yaml
