apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tezos-public-node
spec:
  volumeClaimTemplates:
  - metadata:
      name: tezos-public-node-pv-claim
    spec:
      storageClassName: ${kubernetes_name_prefix}-local-ssd
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 15Gi
