apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tezos-node
spec:
  template:
    spec:
      containers:
      - name: tezos-endorser-with-remote-signer-${baker_name}-${lower(protocol)}
        image: tezos-endorser-with-remote-signer
        volumeMounts:
        - name: tezos-node-pv-claim
          mountPath: /var/run/tezos
        envFrom:
        - configMapRef:
            name: tezos-node-configmap
        env:
        - name: BAKER_ALIAS
          value: k8s-baker-${baker_name}
        - name: PROTOCOL
          value: ${protocol}
        resources:
          limits:
            cpu: 0
        imagePullPolicy: Always
      - name: tezos-baker-with-remote-signer-${baker_name}-${lower(protocol)}
        image: tezos-baker-with-remote-signer
        volumeMounts:
        - name: tezos-node-pv-claim
          mountPath: /var/run/tezos
        envFrom:
        - configMapRef:
            name: tezos-node-configmap
        env:
        - name: BAKER_ALIAS
          value: k8s-baker-${baker_name}
        - name: PROTOCOL
          value: ${protocol}
        resources:
          limits:
            cpu: 0
        imagePullPolicy: Always
