bases:
  - ./../tezos-node-base

namePrefix: ${kubernetes_name_prefix}-

namespace: ${kubernetes_namespace}

nameSuffix: -${nodename}

imageTags:
  - name: tezos/tezos
    newTag: ${tezos_version}
  - name: tezos-baker-with-remote-signer
    newName: gcr.io/${project}/tezos-baker-with-remote-signer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-endorser-with-remote-signer
    newName: gcr.io/${project}/tezos-endorser-with-remote-signer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-snapshot-downloader
    newName: gcr.io/${project}/tezos-snapshot-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-archive-downloader
    newName: gcr.io/${project}/tezos-archive-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-key-importer
    newName: gcr.io/${project}/tezos-key-importer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-node-configurator
    newName: gcr.io/${project}/tezos-node-configurator
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-nonce-exposer
    newName: gcr.io/${project}/tezos-nonce-exposer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-nonce-importer
    newName: gcr.io/${project}/tezos-nonce-importer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-sidecar
    newName: gcr.io/${project}/tezos-sidecar
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: tezos-node-configmap
  literals:
  - NODE_HOST="127.0.0.1"
  - TEZOS_NETWORK=${tezos_network}"
  - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
  - DATA_DIR=/run/tezos
  - SNAPSHOT_URL="${snapshot_url}"
  - PROTOCOL="${protocols[0]}"
  - HISTORY_MODE="${history_mode}"

patchesStrategicMerge:
- prefixedpvnode.yaml
- replicas.yaml
- nodepool.yaml
- service-patch.yaml
%{ for protocol in protocols }
%{ for baker_name in keys(baking_nodes[nodename]) }
- baker_endorser_process_patch_${baker_name}_${protocol}.yaml
%{ endfor}
%{ endfor}
