apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tezos-node
spec:
  replicas: ${ experimental_active_standby_mode ? 2 : 1 }
  template:
    spec:
      serviceAccountName: ${kubernetes_name_prefix}-leader-elector
