apiVersion: v1
kind: Service
metadata:
  name: tezos-node
%{ if rpc_public_hostname != "" }
  annotations:
    cloud.google.com/backend-config: '{"default": "${kubernetes_name_prefix}-node-rpc-backendconfig"}'
%{ endif }
spec:
%{ if rpc_public_hostname != "" }
  type: NodePort
%{ else }
  clusterIP: None
%{ endif }
