apiVersion: apps/v1
kind: Deployment
metadata:
  name: tezos-private-baking-node
spec:
  template:
    spec:
      containers:
      - name: tezos-endorser-with-remote-signer-${baker_name}-${lower(protocol)}
        image: tezos-endorser-with-remote-signer
        args: [ "k8s-baker-${baker_name}" ]
        volumeMounts:
        - name: tezos-private-node-storage
          readOnly: true
          mountPath: /var/run/tezos/node
        - name: tezos-private-client-storage
          mountPath: /var/run/tezos/client
        envFrom:
        - configMapRef:
            name: tezos-private-node-configmap
        env:
        - name: PROTOCOL
          value: ${protocol}
        resources:
          limits:
            cpu: 0
        imagePullPolicy: Always
      - name: tezos-baker-with-remote-signer-${baker_name}-${lower(protocol)}
        image: tezos-baker-with-remote-signer
        args: [ "k8s-baker-${baker_name}" ]
        volumeMounts:
        - name: tezos-private-node-storage
          readOnly: true
          mountPath: /var/run/tezos/node
        - name: tezos-private-client-storage
          mountPath: /var/run/tezos/client
        envFrom:
        - configMapRef:
            name: tezos-private-node-configmap
        env:
        - name: PROTOCOL
          value: ${protocol}
        resources:
          limits:
            cpu: 0
        imagePullPolicy: Always
