bases:
  - ./../tezos-private-node-base

namePrefix: ${kubernetes_name_prefix}-

namespace: ${kubernetes_namespace}

nameSuffix: -${nodename}

imageTags:
  - name: tezos/tezos
    newTag: ${tezos_private_version}
  - name: tezos-baker-with-remote-signer
    newName: gcr.io/${project}/tezos-baker-with-remote-signer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-endorser-with-remote-signer
    newName: gcr.io/${project}/tezos-endorser-with-remote-signer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-snapshot-downloader
    newName: gcr.io/${project}/tezos-snapshot-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-archive-downloader
    newName: gcr.io/${project}/tezos-archive-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-key-importer
    newName: gcr.io/${project}/tezos-key-importer
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-private-node-configurator
    newName: gcr.io/${project}/tezos-private-node-configurator
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-private-node-connectivity-checker
    newName: gcr.io/${project}/tezos-private-node-connectivity-checker
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: tezos-private-node-configmap
  literals:
  - NODE_HOST="localhost"
  - TEZOS_NETWORK=${tezos_network}"
  - PROTOCOL="${protocol}"
  - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
  - PROTOCOL_SHORT="${protocol_short}"
  - DATA_DIR=/run/tezos
  - SNAPSHOT_URL="${snapshot_url}"
  - HISTORY_MODE="${history_mode}"

%{ for custname in keys(baking_nodes[nodename]) }
- name: tezos-private-baker-configmap-${custname}
  literals:
  - NODE_HOST="localhost"
  - TEZOS_NETWORK=${tezos_network}"
  - PROTOCOL="${protocol}"
  - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
  - PROTOCOL_SHORT="${protocol_short}"
  - DATA_DIR=/run/tezos
  - CUSTOMER_NAME="${custname}"
%{ endfor }

patchesStrategicMerge:
- prefixedpvnode.yaml
- prefixedpvclient.yaml
- nodepool.yaml
%{ for custname in keys(baking_nodes[nodename]) }
- baker_endorser_process_patch_${custname}.yaml
%{ endfor}
