apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tezos-private-baking-node
spec:
  volumeClaimTemplates:
  - metadata:
      name: tezos-private-node-pv-claim
    spec:
      storageClassName: ${kubernetes_name_prefix}-${ experimental_active_standby_mode ? "local-ssd" : "regional" }
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: ${node_storage_size}Gi
