apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tezos-private-node-claim
spec:
  storageClassName: ${kubernetes_name_prefix}-regional
  resources:
    requests:
      storage: ${node_storage_size}Gi
