# The Tezos Signer service (part of systemd)
# file: /etc/systemd/system/tezos-signer.service

[Unit]
Description     = Tezos Signer Forwarder Service, forwards tezos-signer to remote machine
Documentation     = http://tezos.gitlab.io/betanet/
Wants           = network-online.target
After           = network-online.target

[Service]
User            = tezos
Group           = wheel
WorkingDirectory= /home/tezos/
# autossh is a wrapper around ssh that auto restarts the tunnel when it fails
# -v verbose
# -p port
# -N do only port forwarding, don't require remote terminal
# -T disable local pseudo-terminal allocation
# -R REMOTEPORT:localhost:LOCALPORT : make local port LOCALPORT reachable remotely on REMOTEPORT
ExecStart       = /usr/bin/autossh -p 58255 -N -T -R {{ remote_signer_port }}:127.0.0.1:8443 -R {{ remote_signer_port + 1000 }}:127.0.0.1:22 signer@{{ gke_signer_hostname }}
# poll the ssh connection every 15 secs to be on the safe side (even one minute can be fatal)
Environment     = AUTOSSH_POLL=15
Restart         = on-failure

[Install]
WantedBy        = multi-user.target
