version: 1.0
baking_address: ${public_baking_key_hash}
payment_address: ${payment_address}
rewards_type: ${rewards_type}
service_fee: ${service_fee}
reactivate_zeroed: True
delegator_pays_xfer_fee: True
delegator_pays_ra_fee: True
