bases:
- ./../payout-base

namePrefix: ${kubernetes_name_prefix}-

namespace: ${kubernetes_namespace}
nameSuffix: -${baker_name}
imageTags:

  - name: trd
    newName: ${trd_container_name}
    newTag: ${trd_container_tag}
  - name: payout-report-uploader
    newName: gcr.io/${project}/payout-report-uploader
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: trd-config
  files:
  - config.yaml
- name: report-upload-config
  literals:
  - GCP_REGION="${region}"
  - REPORT_BUCKET_URL="${report_bucket_url}"

patchesStrategicMerge:
- crontime.yaml
- nodepool.yaml
- trd-args.yaml
- serviceaccountannotate.yaml
