apiVersion: v1
kind: ServiceAccount
metadata:
  name: trd-report-uploader
  annotations:
    iam.gke.io/gcp-service-account: ${kubernetes_name_prefix}-payout-report-uploader@${project}.iam.gserviceaccount.com
