apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: trd-reports-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: trd-payout-sender
spec:
  concurrencyPolicy:  Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: trd-payout-sender
        spec:
          securityContext:
            fsGroup: 100
          containers:
          - name: trd-payout-cron
            image: trd
            #command: ["/bin/sh", "-ec", "sleep 1000"]
            volumeMounts:
            - name: trd-reports
              mountPath: /app/reports
            - name: trd-config
              mountPath: /app/config/config.yaml
              subPath: config.yaml
            imagePullPolicy: Always
            resources:
              limits:
                cpu: 0
          volumes:
          - name: trd-reports
            persistentVolumeClaim:
              claimName: trd-reports-claim
          - name: trd-config
            configMap:
              name: trd-config
              items:
              - key: config.yaml
                path: config.yaml
          restartPolicy: OnFailure
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: tezos-remote-signer-loadbalancer-payout-policy
spec:
  podSelector:
    matchLabels:
      xtzapp: tezos-remote-signer-loadbalancer
  policyTypes:
  - Ingress
  ingress:
  - ports:
    - port: 8445
      protocol: TCP
    from:
    - podSelector:
        matchLabels:
          app: trd-payout-sender
